<html>
  <head>
    <title>Logout - TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <form method="POST" action="/logout">
      <label>LOGOUT</label>
      <input type="submit" name="logout" />
    </form>
  </body>
</html>
